/* permanent clients */
.clients__container {
  margin-top: 94px;
}
.clients__list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.clients__item {
  display: inline-flex;
  width: calc(100% - (30px * 5) / 6);
  height: 90px;

  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: $dur $timeFunc;

  &:hover,
  &:focus {
    border-color: $accentColor;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

// .clients__item:hover,
// .clients__item:focus {
//   border-color: $accentColor;
// }

// .clients__item:not(:last-child) {
//   margin-right: 30px;
// }

.clients__icon {
  display: block;
  width: 170px;
  height: 90px;
  fill: $mainIconColor;

  transition: $dur $timeFunc;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

// .clients__icon:hover,
// .clients__icon:focus {
//   fill: $accentColor;
// }
