/* header */

/* page navigation */
.head-section {
  border-bottom: 1px solid #ececec;
}

.head-section__containter {
  @include container(0);
  @include flex;

  height: 80px;
}

.main-nav {
  @include flex;
}

.page-nav {
  @include flex;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.page-nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.page-nav__current {
  color: $accentColor;
}

.page-nav__link {
  @include flex(inline-flex);

  height: 100%;
  padding-top: 21px;
  padding-bottom: 21px;

  color: $titleTextColor;

  font-weight: 500;
  font-size: $mainFontSize;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.page-nav__item {
  position: relative;
  height: 80px;
}

/* синяя подсветка текущец страницы */
.page-nav__current::after {
  display: inline-block;
  position: absolute;
  content: '';

  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin: 0;
  padding: 0;

  background-color: $accentColor;
}

.contacts__link {
  @include flex(inline-flex);
  padding-top: 21px;
  padding-bottom: 21px;

  color: $mainTextColor;

  font-weight: 500;
  font-size: $mainFontSize;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transform: $dur $timeFunc;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.contacts__icon {
  @include flex(inline-flex);
  margin-right: 10px;
  fill: currentColor;
}
